*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#lot{
  float: left;
  color: white;
  font-style: italic;
  font-size: large;
  margin-top: 15px;
  margin-left: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:purple;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: large;
  }
  li a:hover {
    background-color:black;
  }
 .container{
   width: 50%;
   height: 600px;
   position: absolute;
   background-color: rgba(0,0,0,0.6);
   background-image: url(wheel.gif);
   background-blend-mode: color;
 }
 .container .btn {
  position: relative;
  left: 45%;
  background-color:purple;
  color:white;
  font-size: 36px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  text-align: center;
  outline: none;
}
.container .btn:hover {
  background-color: black;
}
#numb{
  color: white;
  font-size: 200%;
}
.container1{
  margin-top: 500px;
}
.container2{
  background-image: url(img.webp);
  background-color: violet;
  width: 50%;
   height: 600px;
   float: right;
}
#result{
  color: white;
  font-size: 200%;
  margin-left: 100px;
  margin-top:10px ;
}
#input {
  margin-top: 500px;
  position: relative;
margin-left: 200px;
  background-color:purple;
  color:white;
  font-size: 26px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  outline: none;
}
#input:hover {
  background-color: black;
}
#check{ 
  font-size: 12px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  outline: none;
  background-color: purple;
  color: white;
}
body{
  background-image: url(winerr.gif);
  background-size: cover;
}
.footer{
  width: 100%;
  height: 50px;
  background:purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fb{
  color: white;
  
}
#insta{
  color: white;
 
}
#youtube{
  color: white;  
}
.fab{
  margin-right: 15px;
  font-size: 130%;
}