*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:purple;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color:black;
  }
 .container{
   width: 50%;
   height: 600px;
   position: absolute;
   background-color: rgba(0,0,0,0.6);
   background-image: url(wheel.gif);
   background-blend-mode: color;
 }
 .container .btn {
  position: relative;
  top: 77%;
  left: 45%;
  background-color:purple;
  color:white;
  font-size: 36px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
#numb{
  color: white;
  font-size: 200%;
}
.container1{
  margin-top: 500px;
}
.container2{
  background-image: url(img.webp);
  background-color: violet;
  width: 50%;
   height: 600px;
   float: right;
  
}